::ng-deep .p-dialog-header {
  padding: 48px;
  background-color: #2a3647;
  color: white;
  align-items: flex-start;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

::ng-deep .p-dialog-header-icon {
  &:hover {
    background-color: #29abe2;
  }
}

::ng-deep .p-dialog {
  border-radius: 32px;
}

::ng-deep .p-dialog-content {
  padding: 48px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

::ng-deep .avatar-no-btn {
  div {
    width: 7.5rem;
    height: 7.5rem;
    span {
      font-size: 2.5rem;
    }
    &:hover {
      border: none;
    }
  }
}

.calcHeight {
  height: calc(100vh - 168px);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #A8A8A8;
  border-radius: 32px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #29ABE2;
}
::-webkit-scrollbar-track {
  background-color: white;
}
