.calcHeightContacts {
  height: calc(100vh - 96px);
}

.calcHeightContactsInfo {
  height: calc(100vh - 196px);
}

::ng-deep .p-button-text {
  margin-right: 0.5rem;
  padding: 4px 12px 4px 12px;
}

::ng-deep .p-button-text {
  background-color: transparent;
  color: #3b82f6;
  border-color: transparent;
  &:hover {
    background: rgba(59, 130, 188, 0.2);
  }
}

::ng-deep .p-button-danger {
  background-color: transparent;
  color: #ef4444;
  border-color: transparent;
  &:hover {
    background: rgba(239, 68, 68, 0.2);
  }
}
