<app-main-header></app-main-header>
<app-sidebar></app-sidebar>

<section class="flex mt 800:ml-60">
  <div class="mt-16 w-128 flex flex-col items-center">
    <app-button
      text="Add new Contact"
      icon="pi pi-user-plus"
      iconPos="right"
      btnStyle="primary"
      btnSize="big"
      class="fixed"
      (click)="toggleDialog()"
    ></app-button>
    <div class="mt-16 w-80">
      @for (initial of contactsInitials;track initial) {
      <h1 class="py-8 pl-11 text-2xl font-normal">{{ initial }}</h1>
      <div class="w-full bg-gray-300 h-1px"></div>
      <div>
        @for (contact of contacts;track contact){ @if(contact.name[0] ===
        initial) {
        <p-button
          class="flex items-center rounded-xl h-20 w-full gap-5 hover:bg-gray-200 mt-2 p-2"
        >
          <div
            [style.background-color]="contact.bgColor"
            class="flex justify-center items-center h-10 w-10 rounded-full text-white text-base border-white border-2 border-solid"
          >
            {{ getInitialsForAvatar(contact.name) }}
          </div>
          <div class="flex flex-col items-start w-56 ml-3">
            <div class="w-full flex justify-start">
              <span class="text-ellipsis overflow-hidden whitespace-nowrap">{{
                contact.name
              }}</span>
            </div>
            <div class="w-full flex justify-start">
              <span
                class="text-blue-primary text-ellipsis overflow-hidden whitespace-nowrap"
                >{{ contact.email }}</span
              >
            </div>
          </div>
        </p-button>
        } }
      </div>
      }
      <span>{{ contactsInitials }}</span>
    </div>
  </div>
  <div class="mt-12">
    <div class="flex items-center justify-center">
      <h1 class="text-6xl font-bold mb-3">Contacts</h1>
      <span class="h-12 w-1 bg-blue-primary mx-4"></span>
      <h2 class="text-2xl">Better with a team</h2>
    </div>
  </div>

  <p-dialog
    class="rounded-3xl"
    [modal]="true"
    draggable="false"
    [(visible)]="visible"
    [style]="{ width: '50rem' }"
  >
    <ng-template pTemplate="header">
      <div>
        <img
          class="w-14 h-16 mb-8"
          src="assets/img/join_logo_white.svg"
          alt=""
        />
        <h2 class="text-5xl mb-2">Add contact</h2>
        <span class="text-lg mb-2">Tasks are better with a team!</span>
        <div class="h-1 w-20 bg-blue-primary"></div>
      </div>
    </ng-template>

    <div class="flex items-center w-full">
      <p-avatar
        class="avatar-no-btn mr-20 ml-8"
        icon="pi pi-user"
        styleClass="mr-2"
        size="xlarge"
        shape="circle"
      />
      <form class="w-full flex flex-col gap-8" (ngSubmit)="createContact()">
        <app-input-field
          type="text"
          name="newContactName"
          [(ngModel)]="newContactName"
          placeholder="Name"
          iconClass="pi pi-user"
          required
        ></app-input-field>
        <app-input-field
          type="email"
          name="newContactEmail"
          [(ngModel)]="newContactEmail"
          placeholder="Email"
          iconClass="pi pi-envelope"
          required
        ></app-input-field>
        <app-input-field
          type="tel"
          name="newContactPhone"
          [(ngModel)]="newContactPhone"
          placeholder="Telefon"
          iconClass="pi pi-phone"
          required
        ></app-input-field>
        <div class="flex gap-8 mt-4">
          <app-button
            text="Cancel"
            btnStyle="secondary"
            icon="pi pi-times"
            iconPos="right"
            (click)="toggleDialog()"
          ></app-button>
          <app-button
            type="submit"
            text="Create Contact"
            btnStyle="primary"
            icon="pi pi-check"
            iconPos="right"
          ></app-button>
        </div>
      </form>
    </div>
  </p-dialog>
</section>
<section></section>
