<header class="px-10 py-5 flex justify-between 800:justify-end items-center shadow-lg z-10">
  <img src="assets/img/join_logo.svg" alt="join-logo-responsive" class="block 800:hidden">
  <span class="hidden 800:flex font-normal text-xl absolute left-80">Kanban Project Management Tool</span>
  <div>
    <i class="pi pi-question-circle mr-6 text-3xl text-gray-400 hover:scale-125 ease-in-out duration-200 cursor-pointer"></i>
    <p-avatar (click)="toggleLinks()" label="P" styleClass="mr-2" class="text-blue-primary cursor-pointer"  size="xlarge" shape="circle"></p-avatar>
  </div>
  @if(showLinks){
    <div class="absolute flex flex-col gap-2 right-12 top-104 p-3 bg-blue-dark rounded-2xl rounded-tr-none">
      <a class="text-gray-300 text-base px-4 py-2 rounded-lg hover:bg-blue-dark-hover" href="">Legal notice</a>
      <a class="text-gray-300 text-base px-4 py-2 rounded-lg hover:bg-blue-dark-hover" href="">Privacy Policy</a>
      <a class="text-gray-300 text-base px-4 py-2 rounded-lg hover:bg-blue-dark-hover" (click)="logout()">Log out</a>
    </div>
  }
</header>

