<section class="p-flex flex-col 800:pl-72 pt-36 pb-14 items-center 1200:items-start 800:pr-5">

  @if (showMainPart) {
    <header class="flex items-center 500:gap-6 gap-2 500:mb-12 mb-4 1000:flex-row flex-col justify-center 1200:justify-start animate-summaryFadeIn 1200:animate-none">
      <h1 class="500:text-6xl text-4xl font-bold">Summary</h1>
      <div class="h-14 w-1 bg-blue-primary rounded-md hidden 1000:block"></div>
      <p class="text-blue-dark 500:text-3xl text-xl">Key Metrics at a Glance</p>
    </header>
  }

  <main class="flex items-center gap-16 1200:flex-row flex-col">
    @if (showMainPart) {
      <article class="animate-summaryFadeIn 1200:animate-none">
        <div class="flex flex-col gap-8">

          <div class="flex 420:gap-8 gap-4">
            <app-summary-card
              [iconClass]="'pi pi-pencil'"
              [count]="todoCount"
              [title]="'To-do'"
              [hoverColor]="'bg-blue-dark'">
            </app-summary-card>

            <app-summary-card
              [iconClass]="'pi pi-check'"
              [count]="doneCount"
              [title]="'Done'"
              [hoverColor]="'bg-blue-dark'">
            </app-summary-card>
          </div>

          <a [routerLink]="'/board'" class="flex 600:gap-5 gap-4 items-center justify-center w-full h-40 bg-white rounded-3xl boxshadow hover:bg-blue-dark group cursor-pointer 420:p-4 p-2">
            <i class="pi pi-angle-double-up prio-1 420:p-5 p-3 600:text-3xl rounded-full text-white"></i>
            <div class="flex flex-col">
              <span class="600:font-semibold font-bold text-black 600:text-4xl text-2xl 900:text-6xl group-hover:text-white">{{ urgentTaskCount }}</span>
              <span class="text-blue-dark 900:text-xl group-hover:text-white">Urgent</span>
            </div>
            <div class="h-24 bg-gray-400 w-0.5 600:mx-8 "></div>
            <div class="flex flex-col 420:max-w-full max-w-28">
              <span class="font-bold text-blue-dark 600:text-xl group-hover:text-white">{{ upcomingDeadline | date:'longDate' }}</span>
              <span class="text-blue-dark group-hover:text-white">
                {{ upcomingDeadline ? '' : 'No ' }}Upcoming Deadline
              </span>
            </div>
          </a>

          <div class="flex 420:gap-8 gap-4">
            <app-summary-card
              [count]="totalTaskCount"
              [title]="'Tasks in board'">
            </app-summary-card>

            <app-summary-card
              [count]="inProgressCount"
              [title]="'Tasks in progress'">
            </app-summary-card>

            <app-summary-card
              [count]="awaitingFeedbackCount"
              [title]="'Awaiting Feedback'">
            </app-summary-card>
          </div>
        </div>
      </article>
    }


    @if (showUserInfo) {
      <div class="animate-summaryFadeIn 1200:animate-none 1200:static absolute top-1/2 -translate-y-1/2 flex flex-col max-w-full">
        <h2 class="text-blue-dark font-medium 500:text-4xl text-2xl">{{ greet }}</h2>
        @if (loggedInUser){
          <h3 class="text-blue-primary font-bold 500:text-6xl text-4xl word max-w-full break-words">{{ loggedInUser }}</h3>
        }
      </div>
    }

  </main>
</section>
