<section class="flex flex-col 800:pl-72 pt-36 pb-14 items-center 1200:items-start pr-5">

  <header class="flex items-center justify-center gap-6 mb-12">
    <h1 class="text-6xl font-bold">Summary</h1>
    <div class="h-14 w-1 bg-blue-primary rounded-md"></div>
    <p class="text-blue-dark text-3xl">Key Metrics at a Glance</p>
  </header>

  <main class="flex items-center gap-16">
    <div>
      <div class="flex flex-col gap-8">

        <div class="flex gap-8">
          <app-summary-card
            [iconClass]="'pi pi-pencil'"
            [count]="todoCount"
            [title]="'To-do'"
            [hoverColor]="'bg-blue-dark'">
          </app-summary-card>

          <app-summary-card
            [iconClass]="'pi pi-check'"
            [count]="doneCount"
            [title]="'Done'"
            [hoverColor]="'bg-blue-dark'">
          </app-summary-card>
        </div>

        <a [routerLink]="'/board'" class="flex gap-5 items-center justify-center w-full h-40 bg-white rounded-3xl boxshadow hover:bg-blue-dark group cursor-pointer">
          <i class="pi pi-angle-double-up prio-1 p-5 text-3xl rounded-full text-white"></i>
          <div class="flex flex-col">
            <span class="font-semibold text-black text-6xl group-hover:text-white">{{ urgentTaskCount }}</span>
            <span class="text-blue-dark text-xl group-hover:text-white">Urgent</span>
          </div>
          <div class="h-24 bg-gray-400 w-0.5 mx-8"></div>
          <div class="flex flex-col">
            <span class="font-bold text-blue-dark text-xl group-hover:text-white">{{ upcomingDeadline | date:'longDate' }}</span>
            <span class="text-blue-dark group-hover:text-white">
              {{ upcomingDeadline ? '' : 'No ' }}Upcoming Deadline
            </span>
          </div>
        </a>

        <div class="flex gap-8">
          <app-summary-card
            [count]="totalTaskCount"
            [title]="'Tasks in board'">
          </app-summary-card>

          <app-summary-card
            [count]="inProgressCount"
            [title]="'Tasks in progress'">
          </app-summary-card>

          <app-summary-card
            [count]="awaitingFeedbackCount"
            [title]="'Awaiting Feedback'">
          </app-summary-card>
        </div>
      </div>
    </div>

    <div>
      <h2 class="text-blue-dark font-medium text-5xl">{{ greet }}</h2>
      @if (loggedInUser){
        <h3 class="text-blue-primary font-bold text-6xl">{{ loggedInUser }}</h3>
      }
    </div>
  </main>
</section>
