<header class="flex justify-between items-center mt-7 ml-7">
  <img class="h-32 w-24" src="assets/img/join_logo.svg" alt="join-logo.svg" />
  <div class="mr-9">
    <span class="font-normal text-xl mr-9">Not a Join user?</span>
    <p-button routerLink="/signUp" class="bg-blue-dark text-white font-bold text-xl py-2.5 px-5 rounded-xl hover:bg-blue-primary" label="Sign Up" />
  </div>
</header>

<main class="absolute top-2/4 left-2/4 -translate-x-1/2 -translate-y-1/2">
  <form (ngSubmit)="login()" class="w-110 shadow-custom rounded-3xl flex items-center flex-col px-6 py-6">
    <h1 class="text-6xl mb-8">Login</h1>
    <div class="rounded-sm bg-blue-primary h-1 w-24 mb-8"></div>
    <div class="w-3/4">
      <p-inputGroup class="mb-8">
        <input
          type="text"
          name="username"
          [(ngModel)]="username"
          class="border border-gray-input pl-2"
          pInputText
          placeholder="Username"
          autocomplete="username"
          required
        />
        <p-inputGroupAddon>
          <i class="pi pi-user"></i>
        </p-inputGroupAddon>
      </p-inputGroup>
      <p-inputGroup class="mb-8">
        <input
          class="border border-gray-input pl-2"
          [type]="showPassword ? 'text' : 'password'"
          pInputText
          placeholder="Password"
          name="password"
          [(ngModel)]="password"
          required
        />
        <p-inputGroupAddon (click)="togglePasswordVisibility()">
          <i
            class="pi"
            [ngClass]="{
              'pi-lock': !showPassword,
              'pi-lock-open': showPassword
            }"
          ></i>
        </p-inputGroupAddon>
      </p-inputGroup>
    </div>

    <div class="flex justify-between w-3/4 mb-8">
      <div>
        <p-checkbox
          class="border-2 border-gray-input rounded-sm mr-2"
          [(ngModel)]="rememberMe"
          [binary]="true"
          name="rememberMe"
        ></p-checkbox>
        <span>Remember Me</span>
      </div>
      <a class="text-blue-primary hover:underline" href="">I forgot my password</a>
    </div>

    <div class="flex justify-between w-3/4">
      <p-button type="submit" class="bg-blue-dark text-white font-bold text-xl py-2.5 px-5 rounded-xl hover:bg-blue-primary" label="Login" />
      <p-button class="text-blue-dark font-bold text-xl py-2.5 px-5 rounded-xl hover:text-blue-primary border-2 border-blue-dark hover:border-blue-primary" label="Guest-Login" />
    </div>
  </form>
</main>
