@import 'src/styles.scss';

.loginMask {
  width: 652px;
  box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}

header {
  @include flexCenter($jc: space-between)
}


.separator {
  background-color: $blue-primary;
  width: 90px;
  height: 3px;
  border-radius: 2px;
}

form {
  width: 100%;
}
