<header class="flex justify-between items-center mt-7 ml-7">
  <img class="h-32 w-24" src="assets/img/join_logo.svg" alt="join-logo.svg" />
  <div class="mr-9 flex">
    <span class="font-normal text-xl mr-9">Not a Join user?</span>
    <app-button
      text="Sign Up"
      btnStyle="primary"
      routerLink="/signUp"
    ></app-button>
  </div>
</header>

<main class="absolute top-2/4 left-2/4 -translate-x-1/2 -translate-y-1/2">
  <form (ngSubmit)="login()" class="w-110 shadow-custom rounded-3xl flex items-center flex-col px-6 py-6">
    <h1 class="text-6xl mb-8">Login</h1>
    <div class="rounded-sm bg-blue-primary h-1 w-24 mb-8"></div>
    <div class="w-3/4 flex flex-col gap-8">
      <app-input-field
        type="text"
        name="username"
        [(ngModel)]="username"
        placeholder="Username"
        iconClass="pi pi-user"
      ></app-input-field>

      <app-input-field
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        [(ngModel)]="password"
        placeholder="Password"
        [iconDynamicClass]="{
          'pi-lock': !showPassword,
          'pi-lock-open': showPassword
        }"
        (iconClick)="togglePasswordVisibility()"

      ></app-input-field>
    </div>

    <div class="flex justify-between w-3/4 my-8">
      <div>
        <p-checkbox
          class="border-2 border-gray-input rounded-sm mr-2"
          [(ngModel)]="rememberMe"
          [binary]="true"
          name="rememberMe"
        ></p-checkbox>
        <span>Remember Me</span>
      </div>
      <a class="text-blue-primary hover:underline" href="">I forgot my password</a>
    </div>

    <div class="flex justify-between w-3/4 h-9">
      <app-button
        type="submit"
        text="Login"
        btnStyle="primary"
      ></app-button>
      @if(isLoading) {
        <p-progressSpinner
          styleClass="custom-spinner"
          strokeWidth="3"
          fill="var(--surface-ground)"
          animationDuration="1s"
        />
        }
      <app-button
        text="Guest-Login"
        btnStyle="secondary"
      ></app-button>
    </div>
  </form>
</main>

<p-toast />

