<a
  class="flex items-center p-2 justify-center 600:h-40 420:h-32 h-28 bg-white rounded-3xl boxshadow hover:bg-blue-dark group cursor-pointer"
  [ngClass]="hoverColorClass"
  [class]="getWidthClass()"
  [routerLink]="'/board'"
>

  @if (iconClass) {
    <ng-container>
      <i [class]="'420:p-5 p-3 600:text-3xl rounded-full ' + iconClass"
         [ngClass]="iconBgClass"></i>
    </ng-container>
  }

  <div class="flex flex-col items-center md:items-start gap-2">
    <span class="600:font-semibold font-bold text-black 600:text-4xl text-2xl 900:text-6xl group-hover:text-white">{{ count }}</span>
    <span class="text-blue-dark 900:text-xl group-hover:text-white text-center 600:px-8 420:px-4">{{ title }}</span>
  </div>
</a>
