p-progressBar {
  ::ng-deep .p-progressbar-value {
    background-color: #0D6EFD;
  }
  ::ng-deep .p-progressbar-value,
  ::ng-deep .p-progressbar {
    height: 8px;
  }

}

i.prio-1 {
  color: #FF3D00;
}
i.prio-2 {
  color: #FFA800;
}
i.prio-3 {
  color: #7AE229;
}
