p-dialog {
  ::ng-deep .p-dialog-header,
  ::ng-deep .p-dialog {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
  }
  ::ng-deep .p-dialog-content,
  ::ng-deep .p-dialog {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }
}
