<header class="flex justify-start items-center p-7">
  <img class="h-20 w-12 min-h-950:h-32 min-h-950:w-24" src="assets/img/join_logo.svg" alt="join-logo.svg" />
</header>

<main
class="
  flex justify-center items-center
  min-h-1100:absolute min-h-1100:top-1/2 min-h-1100:left-1/2 min-h-1100:-translate-x-1/2 min-h-1100:-translate-y-1/2
"
>
  <form
    [formGroup]="signUpForm"
    (ngSubmit)="onSubmit()"
    class="w-dvw 500:w-110 shadow-custom 500:rounded-3xl flex flex-col items-center px-6 py-6 relative bg-white"
  >
    <i
      routerLink="/login"
      class="pi pi-arrow-left absolute top-10 left-4 420:left-10 text-blue-primary text-2xl hover:scale-125 transition duration-200 cursor-pointer"
    ></i>
    <h1 class="text-6xl mb-8">Sign Up</h1>
    <div class="rounded-sm bg-blue-primary h-1 w-24 mb-8"></div>

    <div class="w-3/4 flex flex-col gap-8">
      <app-input-field
        type="text"
        formControlName="username"
        placeholder="Username"
        name="username"
        autocomplete="username"
        iconClass="pi pi-user"
        [errorMessage]="
          f['username'].touched && f['username'].invalid
            ? (f['username'].errors?.['required']
            ? 'Username is required'
            : 'Username must be at least 6 characters'
            )
            : ''
        "
      ></app-input-field>

      <app-input-field
        type="email"
        formControlName="email"
        placeholder="Email"
        name="email"
        autocomplete="email"
        iconClass="pi pi-envelope"
        [errorMessage]="
          f['email'].touched && f['email'].invalid
          ? (f['email'].errors?.['required']
          ? 'Email is required'
          : 'Invalid email')
          : ''
        "
      ></app-input-field>

      <app-input-field
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        placeholder="Password"
        name="password"
        [iconDynamicClass]="{
          'pi-lock': !showPassword,
          'pi-lock-open': showPassword
        }"
        (iconClick)="toggleVisibility('password')"
        [errorMessage]="
          f['password'].touched && f['password'].invalid
          ? (f['password'].errors?.['required']
          ? 'Password is required'
          : 'Password must be at least 8 characters')
          : ''
        "
      ></app-input-field>

      <app-input-field
        [type]="showConfirmPassword ? 'text' : 'password'"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
        name="confirmPassword"
        [iconDynamicClass]="{
          'pi-lock': !showConfirmPassword,
          'pi-lock-open': showConfirmPassword
        }"
        (iconClick)="toggleVisibility('confirm_password')"
        [errorMessage]="
          f['confirmPassword'].touched && f['confirmPassword'].invalid
          ? (f['confirmPassword'].errors?.['required']
          ? 'Confirm Password is required'
          : 'Passwords must match')
          : ''
        "
      ></app-input-field>
    </div>

    <div class="flex flex-col w-3/4 my-8 items-center">
      <div class="flex justify-center items-center">
        <p-checkbox
          formControlName="acceptTerms"
          class="border-2 border-gray-input rounded-sm mr-2"
          [binary]="true"
          name="acceptTerms"
        ></p-checkbox>
        <span>
          I accept the
          <a class="text-blue-primary font-bold hover:underline" routerLink="/privacy-policy"
            >Privacy Policy</a>
        </span>
      </div>
      @if (f['acceptTerms'].touched && f['acceptTerms'].invalid) {
      <div class="text-red-600">**Please accept the terms.</div>
      }
    </div>

    <div class="w-3/4 flex justify-center items-center gap-3">
      <app-button
        type="submit"
        [disabled]="signUpForm.invalid"
        text="Sign Up"
        btnStyle="primary"
      ></app-button>
      @if(isLoading) {
      <p-progressSpinner
        styleClass="custom-spinner"
        strokeWidth="3"
        fill="var(--surface-ground)"
        animationDuration="1s"
      />
      }
    </div>
  </form>
</main>

<footer
  class="
    min-h-1000:absolute min-h-1000:bottom-8 min-h-1000:left-1/2 min-h-1000:-translate-x-1/2 min-h-1000:py-0
    flex gap-8 w-full justify-center py-8
    "
>
  <a routerLink="/privacy-policy" class="text-gray-400 hover:text-blue-primary">Privacy Policy</a>
  <a routerLink="/legal-notice" class="text-gray-400 hover:text-blue-primary">Legal Notice</a>
</footer>

<p-toast />
