<header class="flex justify-start items-center mt-7 ml-7">
  <img class="h-32 w-24" src="assets/img/join_logo.svg" alt="join-logo.svg" />
</header>

<main class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
  <form class="w-110 shadow-custom rounded-3xl flex flex-col items-center px-6 py-6">
    <i routerLink="/login" class="pi pi-arrow-left absolute top-10 left-10 text-blue-primary text-2xl hover:scale-125 transition duration-200 cursor-pointer"></i>
    <h1 class="text-6xl mb-8">Sign Up</h1>
    <div class="rounded-sm bg-blue-primary h-1 w-24 mb-8"></div>

    <div class="w-3/4">
      <app-input-field
        type="text"
        [(model)]="username"
        placeholder="Username"
        name="username"
        iconClass="pi pi-user"
      ></app-input-field>

      <app-input-field
        type="email"
        [(model)]="email"
        placeholder="Email"
        name="email"
        iconClass="pi pi-envelope"
      ></app-input-field>

      <app-input-field
        [type]="showPassword ? 'text' : 'password'"
        [(model)]="password"
        placeholder="Password"
        name="password"
        [iconDynamicClass]="{ 'pi-lock': !showPassword, 'pi-lock-open': showPassword }"
        (iconClick)="toggleVisibility('password')"
      ></app-input-field>

      <app-input-field
        [type]="showConfirmPassword ? 'text' : 'password'"
        [(model)]="confirm_password"
        placeholder="Confirm Password"
        name="confirm_password"
        [iconDynamicClass]="{ 'pi-lock': !showConfirmPassword, 'pi-lock-open': showConfirmPassword }"
        (iconClick)="toggleVisibility('confirm_password')"
      ></app-input-field>
    </div>

    <div class="flex justify-center items-center w-3/4 mb-8">
      <p-checkbox
        class="border-2 border-gray-input rounded-sm mr-2"
        [(ngModel)]="rememberMe"
        [binary]="true"
        name="rememberMe"
      ></p-checkbox>
      <span>
        I accept the
        <a class="text-blue-primary font-bold hover:underline" href="">Privacy Policy</a>
      </span>
    </div>

    <div class="flex justify-center w-3/4">
      <p-button
        type="submit"
        class="bg-blue-dark text-white font-bold text-xl py-2.5 px-5 rounded-xl hover:bg-blue-primary"
        label="Sign Up"
      ></p-button>
    </div>
  </form>
</main>
