<div class="cursor-pointer">
  <p-button
    *ngIf="iconPos; else noIconPos"
    [type]="type"
    [ngClass]="getButtonClass()"
    (click)="onButtonClick()"
    [label]="text"
    [icon]="icon"
    [iconPos]="iconPos"
    [disabled]="disabled"
  >
  </p-button>
  <ng-template #noIconPos>
    <p-button
      [type]="type"
      [ngClass]="getButtonClass()"
      (click)="onButtonClick()"
      label="text"
      [icon]="icon"
      [disabled]="disabled"
    >
    </p-button>
  </ng-template>
</div>
