<section
  class="flex flex-col 800:pl-72 pt-36 pb-14 items-center 1200:items-start pr-5 bg-section"
>
  <header class="flex items-center justify-between w-full">
    <h1 class="text-6xl font-bold">Board</h1>
    <div class="flex items center gap-6">
      <p-iconField iconPosition="right">
        <ng-container>
          <p-inputIcon
            styleClass="pi pi-search"
            class="cursor-pointer hover:bg-gray-input"
          />
        </ng-container>
        <input
          #inputFieldSubtask
          type="text"
          class="border border-gray-input min-h-10 pr-12 pl-2"
          placeholder="Find Task"
          name="subtasks"
          pInputText
        />
      </p-iconField>
      <app-button
        text="AddTask"
        icon="pi pi-plus"
        iconPos="right"
        btnStyle="primary"
      ></app-button>
    </div>
  </header>
  <main class="flex w-full justify-between mt-14">
    @for (taskStatus of taskStatuses; track taskStatus) {
    <div class="flex flex-col gap-6">
      <h1 class="text-xl text-blue-dark font-bold">{{ taskStatus }}</h1>
      <div class="flex flex-col gap-6 min-h-full" pDroppable >
        @if (tasksExistAtStatus(taskStatus)) {
          @for (task of tasks; track task.id) {
            @if (task.status === taskStatus) {
              <app-card-task
                [taskId]="task.id ?? null"
                pDraggable
                (onDragStart)="task.id !== undefined && dragStart(task.id)"
                (onDragEnd)="dragEnd()"
                [class.rotate-3]="draggedTaskId === task.id">
              ></app-card-task>
            }
          }
        } @else {
          <div class="h-12 bg-gray-200 border-2 border-dashed border-gray-400 w-56 flex justify-center items-center rounded-xl">
            <p class="text-gray-400 font-medium">No tasks are {{ taskStatus }}</p>
          </div>
        }
        @if (showEmptyTask) {
          <div class="w-56 h-56 border-2 border-dashed border-gray-400 rounded-3xl"></div>
        }
      </div>
    </div>
    }
  </main>
</section>
