p-multiSelect {
  ::ng-deep .p-multiselect,
  ::ng-deep .p-checkbox-box,
  ::ng-deep .p-multiselect-filter {
    border: 1px solid #CBD5E1;
  }

  ::ng-deep .p-multiselect {
    width: 100%;
  }
  ::ng-deep .p-multiselect-footer {
    display: flex;
    justify-content: center;
    padding-top: 16px;
  }
  ::ng-deep .p-multiselect-panel {
    padding-bottom: 16px;
  }
}

p-selectButton {
  ::ng-deep .p-selectbutton {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  ::ng-deep .p-button,
  ::ng-deep .p-button-icon {
    font-size: 20px;
  }
  ::ng-deep .p-ripple {
    padding: 0;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    width: 117px;
  }

  ::ng-deep .p-button[aria-checked="false"] {
    i.prio-1 {
      color: #FF3D00;
    }
    i.prio-2 {
      color: #FFA800;
    }
    i.prio-3 {
      color: #7AE229;
    }
  }

  ::ng-deep .p-button[aria-checked="true"].p-highlight {
    .prio-1 {
      background: #FF3D00;
    }
    .prio-2 {
      background: #FFA800;
    }
    .prio-3 {
      background: #7AE229;
    }
  }
}

p-dropdown {
  ::ng-deep .p-dropdown {
    width: 100%;
    border: 1px solid #CBD5E1;
  }
}

p-iconField {
  ::ng-deep .p-input-icon {
    padding: 4px;
    margin-top: -10px;
    border-radius: 100%;
    cursor: pointer;
    &:hover {
      background-color: #CBD5E1;
    }
    &.pi-check {
      margin-right: 36px;
    }

  }
  ::ng-deep p-inputIcon {
    &:hover {
      background: #cbd5e1;
    }
  }
}
