<section
  class="flex flex-col items-center 1200:items-start min-h-full"
  [ngClass]="{
    '800:pl-72 pt-36 pb-14': !isInDialog,
    'min-h-full 600:px-16 900:px-0': isInDialog
    }"
  >
  <h1 class="500:text-6xl text-4xl font-bold mb-4 500:mb-12">{{editingTask ? 'Edit Task' : 'Add Task'}}</h1>
  <form
    [formGroup]="addTaskForm"
    class="flex justify-start items-start gap-14 flex-col 500:w-auto w-full 500:px-0"
    [ngClass]="{
      '900:flex-row': isInDialog,
      '1200:flex-row': !isInDialog,
      '420:px-10': editingTask,
    }"
    (ngSubmit)="onSubmit()"
  >
    <div class="600:min-w-96 min-w-full flex flex-col gap-5">
      <app-input-field
        title="Title"
        formControlName="title"
        name="title"
        type="text"
        placeholder="Enter a title"
        [errorMessage]="
          f['title'].touched && f['title'].invalid ? 'Title is required!' : ''
        "
      ></app-input-field>
      <div class="w-full flex flex-col gap-2">
        <p class="420:text-xl">Description</p>
        <textarea
          title="Description"
          pInputTextarea
          class="border border-gray-input w-full max-h-28 h-28 p-2 min-h-28"
          formControlName="description"
          name="description"
          placeholder="Enter a description"
        ></textarea>
        @if (f['description'].touched && f['description'].invalid) {
          <div class="text-red-600">
            Description is required!
          </div>
        }
      </div>
      <div class="w-full flex flex-col gap-2 max-w-full">
        <p class="420:text-xl">Assigned to</p>
        <p-multiSelect
          formControlName="assignedTo"
          class=""
          [options]="contacts"
          optionLabel="name"
          placeholder="Select contacts to assign"
        >
          <ng-template let-contact pTemplate="item">
            <div
              [style.background-color]="contact.bg_color"
              class="flex justify-center items-center h-10 w-12 rounded-full text-white text-base border-white border-2 border-solid"
            >
              {{ getInitialsForAvatar(contact.name) }}
            </div>
            <div class="calcTextWidth flex justify-start ml-3">
              <span class="text-ellipsis overflow-hidden whitespace-nowrap">{{
                contact.name
              }}</span>
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
            <app-button
              class="hidden 420:flex"
              text="Add new Contact"
              icon="pi pi-user-plus"
              iconPos="right"
              btnStyle="primary"
              btnSize="big"
              (click)="toggleDialog()"
            ></app-button>
            <app-button
              class="420:hidden"
              icon="pi pi-user-plus"
              iconPos="right"
              btnStyle="primary"
              btnSize="big"
              (click)="toggleDialog()"
            ></app-button>
          </ng-template>
        </p-multiSelect>
        @if (f['assignedTo'].touched && f['assignedTo'].invalid) {
          <div class="text-red-600">
            Please select a contact!
          </div>
        }
      </div>
    </div>

    @if(!editingTask) {
      <div class="bg-stone-300 w-2px h-80 hidden 1200:block"></div>
    }
    <div class="600:min-w-96 min-w-full flex flex-col gap-5">
      <app-input-field
        title="Due Date"
        formControlName="dueDate"
        name="dueDate"
        type="date"
        [errorMessage]="
          f['dueDate'].touched && f['dueDate'].invalid
            ? 'Due Date is required'
            : ''
        "
      ></app-input-field>
      <div class="flex flex-col gap-2">
        <p class="420:text-xl">Prio</p>
        <div>
          <p-selectButton
            [options]="prioOptions"
            formControlName="priority"
            optionLabel="priority"
            optionValue="value"
            class="flex 600:justify-center items-center gap-4 "
          >
            <ng-template #customTemplate let-item pTemplate>
              <div
                class="flex justify-center items-center gap-2 w-full px-4 py-2"
                [class]="item.class"
              >
                <span>{{ item.priority }}</span>
                <i [class]="item.icon"></i>
              </div>
            </ng-template>
          </p-selectButton>
        </div>
        @if (f['priority'].touched && f['priority'].invalid) {
          <div class="text-red-600">
            Please select a priority!
          </div>
        }
      </div>
      <div class="flex flex-col gap-2">
        <p class="420:text-xl">Category</p>
        <p-dropdown
          [options]="categories"
          optionLabel="name"
          placeholder="Select Task Category"
          formControlName="category"
        />
        @if (f['category'].touched && f['category'].invalid) {
          <div class="text-red-600">
            Please select a category!
          </div>
        }
      </div>
      <div class="flex flex-col gap-2">
        <p class="420:text-xl">Subtasks</p>
        <p-iconField iconPosition="right">
          @if (!isFocused) {
          <ng-container>
            <p-inputIcon
              styleClass="pi pi-plus"
              (click)="focusSubtaskInput()"
            />
          </ng-container>
          } @if (isFocused) {
          <ng-container>
            <p-inputIcon
              styleClass="pi pi-times"
              class="hover:bg-gray-input"
              (click)="clearSubtaskInput()"
            />
            <p-inputIcon
              styleClass="pi pi-check"
              class="hover:bg-gray-input"
              (click)="addSubtask()"
            />
          </ng-container>
          }
          <input
            #inputFieldSubtask
            type="text"
            class="border border-gray-input min-h-10 w-full pr-20 pl-2"
            placeholder="Add new subtask"
            formControlName="subtasks"
            name="subtasks"
            pInputText
            (focus)="onFocusSubtask()"
            (blur)="onBlurSubtask()"
          />
        </p-iconField>
        <div class="h-36 max-h-36 overflow-y-auto">
          @if (subTasks) {
            @for (subTask of subTasks; track subTask) {
              @if (!subTask.edit) {
                <div class="flex justify-between items-center pl-6 pr-2 py-1 hover:bg-gray-300 rounded-lg group">
                  <li class="group-hover:text-black">{{ subTask.value }}</li>
                  <div class="flex justify-center items-center gap-2 text-transparent group-hover:text-black">
                    <i class="pi pi-trash text-xl cursor-pointer hover:font-bold" (click)="deleteSubtask(subTask)"></i>
                    <p class="text-xl">|</p>
                    <i class="pi pi-pencil text-xl cursor-pointer hover:font-bold" (click)="changeToEditSubtask(subTask)"></i>
                  </div>
                </div>
              } @else {
                <div class="w-full flex items-center justify-between gap-4 border-b-2 border-blue-primary px-2 py-4">
                  <input
                    #inputFieldEditSubtask
                    class="w-full focus:border-white px-2 py-1"
                    pInputText type="text"
                    placeholder="Add new subtask"
                    value={{subTask.value}}
                  >
                  <div class="flex justify-center items-center gap-2 ">
                    <i class="pi pi-trash text-xl cursor-pointer hover:font-bold" (click)="deleteSubtask(subTask)"></i>
                    <p class="text-xl">|</p>
                    <i class="pi pi-check text-xl cursor-pointer hover:font-bold" (click)="editSubtask(subTask)"></i>
                  </div>
                </div>
              }
            }
          }
        </div>
      </div>
      @if(!editingTask) {
        <div class="flex justify-end gap-10 500:gap-6 pt-14 500:flex-row flex-col">
          <app-button
            text="Clear"
            icon="pi pi-times"
            iconPos="right"
            btnStyle="secondary"
            class="mobile-big-btn button"
            (click)="clearAllInputs()"
          ></app-button>
          <app-button
            type="submit"
            text="Create Task"
            icon="pi pi-check"
            iconPos="right"
            btnStyle="primary"
            class="mobile-big-btn button"
            [disabled]="addTaskForm.invalid"
          ></app-button>
        </div>
      } @else {
        <app-button
          class="pt-14"
          type="submit"
          text="OK"
          icon="pi pi-check"
          iconPos="right"
          btnStyle="primary"
          [disabled]="addTaskForm.invalid"
        ></app-button>
      }
    </div>

  </form>

  @if(showDialog) {
  <app-dialog-contact (close)="closeContactDialog($event)"></app-dialog-contact>
  }
</section>
<p-toast />


