p-dialog {
  ::ng-deep .p-dialog-header,
  ::ng-deep .p-dialog {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
  }
  ::ng-deep .p-dialog-content,
  ::ng-deep .p-dialog {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }

  i.prio-1 {
    color: #ff3d00;
  }
  i.prio-2 {
    color: #ffa800;
  }
  i.prio-3 {
    color: #7ae229;
  }

  .hidden-scrollbar::-webkit-scrollbar,
  ::ng-deep .p-dialog-content::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .hidden-scrollbar,
  ::ng-deep .p-dialog-content {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  p-checkbox {
    &[ng-reflect-model="false"] {
      ::ng-deep .p-checkbox,
      ::ng-deep .p-checkbox-box {
        border-radius: 4px;
        box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(18, 18, 23, 0.05);
        border: 1px solid #cbd5e1;
        &:not(:focus) {
          border-radius: 4px;
          box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(18, 18, 23, 0.05);
          border: 1px solid #cbd5e1;
        }
      }
    }
  }

  p-button {
    ::ng-deep .p-button {
      padding: 8px 16px;
    }
  }
}

::ng-deep .p-button-text {
  margin-right: 0.5rem;
  padding: 4px 12px 4px 12px;
}

::ng-deep .p-button-text {
  background-color: transparent;
  color: #3b82f6;
  border-color: transparent;
  &:hover {
    background: rgba(59, 130, 188, 0.2);
  }
}

::ng-deep .p-button-danger {
  background-color: transparent;
  color: #ef4444;
  border-color: transparent;
  &:hover {
    background: rgba(239, 68, 68, 0.2);
  }
}
