@if (task) {
  <p-dialog
    class="hidden-scrollbar"
    [modal]="true"
    draggable="false"
    [(visible)]="visible"
    (onHide)="closeDialog()"
  >
    <ng-template pTemplate="header">
      @if (!editMode) {
        <div class="flex justify-between items-center">
          <p class="text-white px-4 py-1 rounded-lg text-lg" [class]="getCategoryBg(task.category)">{{task.category}}</p>
        </div>
      } @else {
        <h1 class="font-bold text-blue-dark text-5xl">Edit Task</h1>
      }
    </ng-template>
    @if (!editMode) {
      <main class="flex flex-col gap-4 w-128">
        <div class="flex flex-col gap-4">
          <h1 class="font-bold text-blue-dark text-5xl">{{task.title}}</h1>
          <p class="text-gray-400 font-medium text-xl">{{task.description}}</p>
        </div>
        <div class="flex gap-4 text-xl">
          <p>Due Date:</p>
          <p>{{task.dueDate | date: 'dd/MM/yyyy'}}</p>
        </div>
        <div class="flex gap-4 text-xl">
          <p>Priority:</p>
          <p>{{task.priority}}<i class="pi text-xl" [class]="getPrioIcon(task.priority)"></i></p>
        </div>
        <div class="flex justify-between items-center">
          <div class="flex flex-col">
            <p class="text-xl pb-4">Assigned to:</p>
            @for (contact of task.assignedTo; track contact;) {
              <div class="flex items-center gap-4">
                <div class="min-w-10 min-h-10 flex justify-center items-center rounded-full border-white border-solid border-2" [style.background-color]="getContactBgColor(contact)">
                  <p class="text-white">{{ getContactNameById(contact) }}</p>
                </div>
                <p class="text-xl">{{getContactNameById(contact, false)}}</p>
              </div>
            }
          </div>
        </div>
        @if (task.subtasks && task.subtasks.length > 0 ) {
          <p class="text-xl">Subtasks:</p>
          @for (subtask of task.subtasks; track subtask.id) {
            <p-button class="flex hover:bg-gray-200 rounded-lg w-fit ">
              <p-checkbox
                [(ngModel)]="subtask.done"
                [binary]="true"
                inputId="binary"
                class="mr-3"
                />
              <p>{{subtask.value}}</p>
            </p-button>

          }
        }
        <div class="flex items-center justify-end">
          <p-button
            class="text-xl hover:text-blue-primary"
            label="Delete"
            icon="pi pi-trash text-xl"
            (click)="openDeleteDialog($event)"
          ></p-button>
          <p class="text-xl">|</p>
          <p-button
            class="text-xl hover:text-blue-primary"
            label="Edit"
            icon="pi pi-pencil text-xl"
            (click)="startEditMode()"
          ></p-button>
        </div>
      </main>
    } @else {
      <main>
        <div>

        </div>
      </main>
    }

  </p-dialog>
}
<p-confirmDialog />
<p-toast/>
